table {
    border: 1px solid gray;
    border-collapse: collapse;
    width: 60%;
    font-family: Arial, sans-serif;
}
th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 6px 10px;
}
.button-group {
    margin-left: 50px;
    margin-right: 50px;
}